body{
    background: white;
}

.card{
    border: 1px solid rgb(18, 158, 0) !important;
}

.link_card{
    text-decoration: none;
    color: black;
}

.block_main{
    background-position: center;
    background-image: url(../image/4.jpg);
    background-attachment: fixed;
}


