{% load blog_tags %}
<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">

        <a class="btn btn-dark text-light rounded border-success" style="width:100%;" href="{% url 'index' %}">Все категории</a>
        {% get_categories as categories %}
        {% for category in categories %}
        <a class="btn btn-dark text-light rounded border-success mt-2" style="width:100%;" href="{{ category.get_absolute_url }}">{{ category.title }}</a>
        {% endfor %}
    </nav>
</div>




